#title
{
    background-color: #ff4c68;
}
.navbar-brand{
    color: white;
    font-size: 2.5rem;
    font-family: ubuntu;
    font-weight: bold;
}
.nav-link
{
    color:white;
    font-size:1.2rem;

}
.col-log-6
{
    background-color: #ff4c68;
}
h1
{
    font-family: 'Russo One', sans-serif;
    font-size : 3rem;
    line-height:1.25;
    color:white

}
.navbar
{
    padding: 0 0 4.5rem;
}

.container-fluid
{
    padding:5% 16.5%
}
#black
{
    color:black;
}
#titletext
{
    width: 80%;
    line-height:1.5;
    font-family: 'Russo One', sans-serif;
}
.downloadbutton
{
    margin:5% 3% 5% 0;
}
.titleimage
{
   width:80%;
   transform:rotate(18deg);
}
#features
{
    padding: 7% 15%;
}
.intermediate
{
    text-align: center;
    padding: 5%;

}
h3
{
    font-family: 'Russo One', sans-serif;
}
p
{
  color:#8f8f8f;
}
.icon
{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover
{
    color:#ff4c68;
}
#whatyouwillbeableto
{
    
    padding:5% 15%;
    background-color: #ef8172;
    
    
}
.spe
{    font-family: 'Russo One', sans-serif;
    font-size : 3rem;
    line-height:1.25;
    color:white;
    text-align: center;
    margin-bottom: 6%;
}
.playinggames
{  
    width: 50%;
    border-radius: 100%;
    margin-left:25%;
    
    
}
.textplaygames
{
    margin-top: 40%;
}
.playinggames1
{
    width: 40%;
    border-radius: 100%;
    margin-left:25%;
    
    
}
.spe1
{    font-family: 'Russo One', sans-serif;
    font-size : 2rem;
    line-height:1.25;
    color:black;
    text-align: center;
    margin-top: 3%;
}
